body{
	margin:0;
	padding:0;
	background:#fff !important;
	font-family: 'Open Sans', sans-serif;
 }
h1,h2,h3,h4,h5,h6{
	margin:0;	
font-family: 'Open Sans', sans-serif;
}	
p{
	margin:0;
	letter-spacing:1px;
}
ul{
	margin:0;
	padding:0;
}
p,ul,ol{
	font-size:14px;
}
input[type="submit"],a,.nbs-flexisel-nav-left,.nbs-flexisel-nav-right{
	transition:.5s ease-in;
	-webkit-transition:.5s ease-in;
	-moz-transition:.5s ease-in;
	-o-transition:.5s ease-in;
	-ms-transition:.5s ease-in;
}
a:hover{
	text-decoration:none;
}
a:focus{
	outline:none;
	text-decoration:none;
}

.usersTable{
	margin: 20px;
}

.usersTableRow{
	display: flex;
	flex-wrap: nowrap;
	background-color: #7BA7CE;
	margin: 15px 0;
}

.usersTableRow > div {
	background-color: #f1f1f1;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	text-align: center;
	border: 1px solid #4a77d4;
	vertical-align: middle;
	line-height: 60px;
	font-size: 24px;
	font-family: cursive;
}

.usersTableRow > div img{
	width: 20%;
}

.usersTableRow > div button{
	width: 100px;
	height: 40px;
	font-family: Bahnschrift;
	text-align: center;
	font-size: 14px;
	margin-top: 10px;
	margin-left: 10px;
	line-height: 40px;
	background-color: #4a77d4;
	color: #FFFFFF;
	border-radius: 6px;
	border: none;
	border-bottom: 3px solid #001e35;
}

.usersTableRow > div button:active{
	border: none;
	margin-top: 14px;
}

.selectedPage {
	font-weight: bold;
	font-size: 16px;
}

.pagination{
	display: flex;
	margin: 20px;
}

.pagination span{
	display: block;
	padding: 5px;
	cursor: pointer;
}